* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray
}

.Main {

    font-weight: bold;
    
}
.Main p {

    font-size: larger;
}
 .Main button {

    color: black;
    font-weight: bold;
    background-image: linear-gradient(to right, rgb(0, 94, 255), pink ,rgb(128, 0, 96));
    font-size: larger;
    padding: 5px;
    border-width: 5px;
    margin: 2%; }